<%-- any content can be specified here e.g.: --%>
<%@include file="/WEB-INF/jspf/prepare.jspf" %>
<%@ page pageEncoding="UTF-8" %>
<footer class="clearfix">
    <div id="copyrights" class="col-xs-8">
        <div class="logo"><a href="http://www.tdxmeal.com" target="_blank"><img src="${ctx}/img/logo-simple.png" /> <p>泰迪熊点餐</p></a></div>

    </div>
    <div class="col-md-2_1">
        <p class="footer-phone text-info"><span>联系方式:&nbsp;</span><i class="fa fa-phone"></i> ${configuration.contact}</p>
	    <p style="margin-top:40px;">All content copyright <a href="http://www.tdxmeal.com/" target="_blank">泰迪熊订餐</a> &copy; 2014 • All rights reserved.
        Proudly published with <a href="http://www.hylapp.cn" target="_blank">鸿云来智能科技</a></p>
        <p><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a> | 京公网安备11010802014853</p>
        
    </div>
    <div class="col-md-2_2">
	   <div class="sjapp">
        <img id="appqr" class="img-responsive" src="${ctx}/img/qr.png"/>
		<h3 class="text-primary" style="font-size:20px;color:#666;">手机客户端</h3>
	   </div>
    </div>
</footer>