.ie-warn{border-radius: 6px;color:#f1c40f;text-align:center;padding:10px}
.row-nocol{margin-left:0px;margin-right:0px;}
.fa{display:inline-block;margin-right:0.5em;}
.todo-icon.fa{margin-right:0px;font-size: 24px;padding: 11px 22px 0 0;}
.text-del{text-decoration-line:line-through;}
.hidden-template{visibility:hidden !important;display:none !important;}
.todo li.hidden-template + li{margin-top:0px;}
.ajax-spinner{display:none;font-size:120px;}
.loading{text-align:center;}
.loading .ajax-spinner{display:inline-block;margin:1em auto;}
.form-inline .select {width:auto;}
.bootstrap-switch-off + label{color:#bdc3c7;}


.affix-help-block{display:none;visibility:hidden;}
.affix + .affix-help-block{display:block;visibility:hidden !important;}
.affix + .affix-help-block .in{visibility:hidden !important;}

/*input-group-xs hack*/
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn,
.input-group-xs > .select2-search input[type="text"] {
    height: 20px;
    padding: 1px 3px;
    font-size: 14px;
    line-height: 20px;
    border-width:1px;
}
select.input-group-xs > .form-control,
select.input-group-xs > .input-group-addon,
select.input-group-xs > .input-group-btn > .btn,
select.input-group-xs > .select2-search input[type="text"] {height:20px;}
textarea.input-group-xs > .form-control,
textarea.input-group-xs > .input-group-addon,
textarea.input-group-xs > .input-group-btn > .btn,
select[multiple].input-group-xs > .form-control,
select[multiple].input-group-xs > .input-group-addon,
select[multiple].input-group-xs > .input-group-btn > .btn,
textarea.input-group-xs > .select2-search input[type="text"],
select[multiple].input-group-xs > .select2-search input[type="text"] {height:auto;}
.input-group-xs .input-group-addon {line-height:1;}
/*end of input-group-xs hack*/

/*优惠标签*/
.badge{font-weight:normal;font-size:12px;padding:5px 7px;}
.badge.WIN_CASH{background-color:#1ABC9C;}
.badge.VIP_DISCOUNT{background-color:#E74C3C;}
.badge.COST_CASH{background-color:#9B59B6;}
.badge.COST_SCORE{background-color:#F1C40F;}
.badge.FREE_POSTAGE{background-color:#3498DB;}
.badge.EMPTY{background-color:#eff0f2;color:#eff0f2;}

/*模态对话框*/
.authc .authc-form .login-form{padding:0px;}
.authc .authc-form .form-group{margin-bottom:0px;}
.authc .authc-form .form-group + .form-group{margin-top:20px;}
.authc .modal-dialog{background-clip:padding-box;background-color:#000;border-radius:6px;border:1px solid rgba(234, 238, 250, 0.6);box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);outline: 0 none;position: relative;}
.authc .modal-content{background-color: #edeff1;}
.modal .modal-loading{display:none;width:64px;height:64px;margin:0em auto;background-image:url(../img/loading.gif);background-size:100% 100%;}
.modal.loading .modal-loading{display:block;}
.modal.loading .modal-body{display:none;}
/*多文件上传预览*/
.preview > .preview-item{
    width:10em;
    float:left;
    margin:0px 0.5em 0.5em;
}
.preview > .preview-item > .close{
    color:red;
}
.action-param{display:none;}


.teddy-logo{padding-top:0px !important;}
.teddy-logo img{height:76px;}

.btn-info{ background:#cdcdcd;}
.btn-info:hover{background:#f39c12;}
.btn-info.active{ background:#f40;}

/*登录相关*/
.navbar-teddy{ background:#000;}
.navbar-teddy .authenticated{display:none;}
.navbar-teddy .unauthenticated{display:table;}
.navbar-teddy.authenticated .authenticated{display:table;}
.navbar-teddy.authenticated .unauthenticated{display:none;}
.navbar-teddy .navbar-form button + button{margin-left:0.5em;}

#principal img[data-bind=avatar]{width:64px;margin-right:1em;}


/*餐厅列表*/
.row{width:100%;height:auto;margin:15px 0;}
#restaurant-container{width:100%;height:auto;overflow:hidden;margin:0;}
#restaurant-container .badge{color:white;}

.col-xs-12.col-sm-4.col-md-3.col-lg-3{margin-left:15px;padding:0;width:23%;}

#orderby-btn-group{margin-bottom:1em;}
#restaurant-container .tile{padding:0;width:100%;height:auto;margin-bottom:30px;border-radius:0px}
#restaurant-container .tile a{width:100%;height:auto;display:block;border:1px solid #ddd;}
#restaurant-container .tile a:hover{border:1px solid #f40; }
#restaurant-container .tile .tile_btm{width:100%;height:110px;overflow:hidden; background:#fff;padding:10px 15px;}
#restaurant-container .tile .tile-title{margin: 0;}
#restaurant-container .tile .tile-title.xs{font-size:14px;}
#restaurant-container .tile .tile_img{width:100%;height:200px;overflow:hidden;padding:0; position:relative;}
#restaurant-container .tile .tile_img .tile_imgp{width:100%;height:auto;position:absolute;bottom:0;left:0;z-index:99;font-size:14px;line-height:24px;color:#fff;overflow:hidden;background-color:#000;opacity:0;filter:Alpha(opacity=0);text-align:left;padding:8px 14px;transition:background-color .5s ease-out;-webkit-transition:background-color .5s ease-out;-moz-transition:background-color .5s ease-out;cursor:pointer;}
#restaurant-container .tile a:hover .tile_img .tile_imgp{background-color:#000;opacity:0.8;filter:Alpha(opacity=8);}
#restaurant-container .tile .tile-image{width:100%;height:auto;overflow:hidden;margin:0;}
#restaurant-container .tile p[data-bind=promotion]{height:78px;overflow:hidden;text-align:left;}
#restaurant-container .tile [data-bind=price]{font-size:12px;}
#restaurant-container .tile p{width:80%;margin:15px auto;overflow:hidden;line-height:22px;font-size:14px;font-family:"宋体"}
#restaurant-container .tile a{display:block;background:#e6e6e6;margin:0 auto;border-radius:0px;color:#000;border-top:1px solid #ddd;}
#restaurant-19{padding:0;}
#restaurant-container .tile:hover .btn .btn-large .btn-block{background:#f40;font-weight:bold;color:#fff;}



/*餐厅订餐页面*/
.col-xs-3.col-sm-2.col-category ul li a{ color:#666;background:#e6e6e6}
.col-xs-3.col-sm-2.col-category ul li.active a{ background:#f39c12;color:#fff;}
.col-xs-3.col-sm-2.col-category ul li a:hover{ background:#f39c12;color:#fff;}



.teddy-restaurant .col-category .affix{top:15px;width:9em;}
.teddy-restaurant .col-category .affix-bottom{position:absolute;}
#dish-category{background-color:#ECF0F1;padding:15px;border-radius:15px;}
.teddy-restaurant .col-dishes{margin-bottom:1em;}
.teddy-restaurant .col-dishes .category-name{padding:0.2em 1em 0em;margin-bottom:8px;background-color:#BDC3C7;color:#3498DB;font-size:22px;border-radius:8px;}
.teddy-restaurant .col-dishes .dish-item{border-radius:8px;margin:0px;padding:8px 15px 8px 0px;border:1px #ECF0F1 solid;}
.teddy-restaurant .col-dishes .dish-item.highlight{border-color:#1ABC9C;}
.teddy-restaurant .col-dishes .dish-item .dish-body{display:table;}
.teddy-restaurant .col-dishes .dish-item .media-body{word-break: break-all;}
.teddy-restaurant .col-dishes .dish-item .media-right{text-align:right;}
.teddy-restaurant .col-dishes .dish-item .dish-icon{width:62px;height:62px;margin-right:1em;display:table-cell;}
.teddy-restaurant .col-dishes .dish-item .dish-icon img{vertical-align:middle;}
.teddy-restaurant .col-dishes .dish-item .media-description{font-size:14px;}
.teddy-restaurant .col-dishes .dish-item .dish-sold{color:#95A5A6}
.teddy-restaurant .col-dishes .dish-item .dish-price{color:#ee8800}
.teddy-restaurant .col-dishes .dish-item .dish-control{padding-top:7px;padding-bottom:8px;}
@media (max-width: 768px){
    .teddy-restaurant .col-dishes .dish-item .dish-control{text-align:right;}
    .teddy-restaurant .col-dishes .dish-item .dish-control .input-group{display:inline-table;}
}
.teddy-restaurant .col-dishes .dish-item .dish-control.editable .help-noedit{display:none;}
.teddy-restaurant .col-dishes .dish-item .dish-control.noedit .help-edit{display:none;}
.teddy-restaurant .col-dishes .dish-item .dish-control .input-group{width:8em;}


/*购物车*/
#shopcart{margin-right:0px;}
.shopcart-container img[data-bind=icon]{width:24px;}
.shopcart-container{min-width:320px;}
.shopcart-container .todo{margin-bottom:0px;}
.shopcart-container .todo-link{text-align:right;padding:0.5em 1em;background-color: #2c3e50;}
.shopcart-container .todo li.todo-done:after{width:20px;}
.shopcart-container .todo li:after{width:0px;content:none;}
.shopcart-container .todo li{padding: 18px 25px 21px;cursor:default;background: none repeat scroll 0 0 / 20px 20px #34495e;}
.shopcart-container .todo li.highlight{}
.shopcart-container .todo li .todo-icon{padding:0px 1em 0px 0px;}
.shopcart-container .todo li img[data-bind=icon]{width:24px;height:29px;}
.shopcart-container .todo li button.close{font-size:32px;}

.affix-shopcart .todo{margin-bottom:0px;}
.affix-shopcart .todo li{cursor:default;}
.affix-shopcart .todo .todo-search{cursor:pointer;}
.affix-shopcart .todo .todo-search:before{content:none;display:none;}
.affix-shopcart .todo .todo-search.collapsed{border-radius:6px;}
.affix-shopcart .todo .todo-search.collapsed .caret{filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform: rotate(270deg);-ms-transform: rotate(270deg);transform: rotate(270deg);}
.affix-shopcart .todo .todo-content .todo-name{margin: 1px 0px 6px;}
.affix-shopcart .todo .todo-content .form-inline{width:auto;display:inline-block;}
.affix-shopcart .todo .todo-content .form-inline .input-group-xs{width:5em;}
.affix-shopcart .todo .todo-content .form-inline .input-group-xs input{color:#e74c3c;text-align:right;}
.affix-shopcart .todo .todo-content button.close{font-size:24px;display:block;position:absolute;right:23px;top:50%;margin-top:-13px;z-index:10;}
.affix-shopcart .todo li.todo-deny:after{width:20px;font-family: 'FontAwesome';font-size:12px;font-style:normal;font-weight:normal;font-variant:normal;line-height:21px;color:#2c3e50;text-align: center;text-transform: none;content:"\f05e";background: #1abc9c;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.affix-shopcart .todo li.shopcart-promotion:after{width:0px;content:none;}
.affix-shopcart .todo li.shopcart-promotion{color:#1abc9c;}
.affix-shopcart .todo li.shopcart-promotion.muted{color:#bdc3c7;}
.affix-shopcart .todo li.shopcart-promotion.amount{color:#f1c40f;}
.affix-shopcart .todo li.shopcart-promotion .shopcart-promotion-discount{float:right;margin-right:4em;}
.affix-shopcart .todo li.shopcart-promotion.muted .shopcart-promotion-discount{display:none;}
.affix-shopcart .todo li.shopcart-promotion .todo-icon{padding:0px 22px 0 0;}
.affix-shopcart .todo li.shopcart-promotion .todo-icon .badge{vertical-align:top;}
.affix-shopcart .todo li.shopcart-promotion .todo-name{color:#1abc9c;display:inline;}
.affix-shopcart .todo li.shopcart-promotion .todo-name .form-group{display:inline-block;margin-left:4em;margin-bottom:0px;color:#3498db}
.affix-shopcart .todo li.shopcart-promotion.muted .todo-name .form-group{display:none;}
.affix-shopcart .todo li.shopcart-promotion .select2-container{display:inline-block;}
.affix-shopcart .todo li.shopcart-promotion.muted .todo-name{color:#bdc3c7;}
.affix-shopcart .todo li.shopcart-promotion.amount .todo-name{color:#f1c40f;}


.affix-shopcart.affix{bottom:0px;left:0;right:0;margin-left:auto;margin-right:auto;}
.affix-shopcart.affix-bottom{position:static;}
.affix-shopcart .todo-icon img{width:24px;}

body{ background-color:#fff;}
footer{margin-top:3em; background:#fdfdfd; border-top:5px solid #f40;color:#333;font-family:"宋体";padding-top:4em;width:100%;height:auto;}
footer h3{font-size:22px;}
#copyrights{width:24%;height:auto;float:left;text-align:center;}
#copyrights .logo img{width:100%;height:auto;}
#copyrights .logo{width:100px;hegiht:auto;overflow:hidden;float:right;}
#copyrights .logo p{text-align:center;margin-top:20px}
.clearfix .col-md-2_1{width:55%;height:auto;overflow:hidden;float:left;text-align:left;padding-left:25px;margin-left:10px;border-left:3px solid #dbdbdb;}
.clearfix .col-md-2_2{width:20%;height:auto;overflow:hidden;float:left;margin-top:-10px}
.clearfix .text-info{font-size:30px;font:Verdana, Arial, Helvetica, sans-serif "微软雅黑";color:#f40;}
.clearfix .footer-phone{line-height:48px;font-weight:bold;}
.clearfix a{color:#666;}
.clearfix a:hover{color:#f40;}
.clearfix .col-md-2_2 .sjapp{width:120px;height:auto;text-align:center;}
.clearfix .col-md-2_2 .sjapp h3{margin:16px auto 30px;}
footer #appqr{width:120px;}