<%-- any content can be specified here e.g.: --%>
<%@include file="/WEB-INF/jspf/prepare.jspf" %>
<%@ page pageEncoding="UTF-8" %>

<div class="navbar navbar-default ${principal.navbarFixed?'navbar-fixed-top':''}" id="navbar">
    <div id="navbar-container" class="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    <spring:message code="application.title"/> 后台管理系统
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->
        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="grey">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-tasks"></i>
                        <span class="badge badge-grey">${empty principal.tasks ? "" :fn:length(principal.tasks)}</span>
                    </a>
                    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="icon-ok"></i>
                            还有${fn:length(principal.tasks)}个任务完成
                        </li>
                        <c:forEach items="${principal.tasks}" var="cur">
                            <li>
                                <a href="${empty cur.url?'':ctx}${cur.url}">
                                    <div class="clearfix">
                                        <span class="pull-left">${cur.name}</span>
                                        <span class="pull-right">${empty cur.value ? 0 : cur.value}%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:${empty cur.value ? 0 : cur.value}%" class="progress-bar "></div>
                                    </div>
                                </a>
                            </li>
                        </c:forEach>
                        <!--                        <li>
                                                    <a href="#">
                                                        查看任务详情
                                                        <i class="icon-arrow-right"></i>
                                                    </a>
                                                </li>-->
                    </ul>
                </li>

                <li class="purple">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-bell-alt ${empty principal.notifications ? '' : 'icon-animated-bell'}"></i>
                        <span class="badge badge-important">${empty principal.notifications ? "" :fn:length(principal.notifications)}</span>
                    </a>

                    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="icon-warning-sign"></i>
                            ${fn:length(principal.notifications)}条通知
                        </li>
                        <c:forEach items="${principal.notifications}" var="cur">
                            <li>
                                <a href="${empty cur.url?'':ctx}${cur.url}">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs ${cur.icon}"></i>
                                            ${cur.name}
                                        </span>
                                        <c:if test="${not empty cur.value}">
                                            <span class="pull-right badge ${cur.badge}">${cur.value}</span>
                                        </c:if>
                                    </div>
                                </a>
                            </li>
                        </c:forEach>
                        <!--                        <li>
                                                    <a href="#">
                                                        查看所有通知
                                                        <i class="icon-arrow-right"></i>
                                                    </a>
                                                </li>-->
                    </ul>
                </li>

                <li class="green">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope ${empty principal.messages ? '' : 'icon-animated-vertical'}"></i>
                        <span class="badge badge-success">${empty principal.messages ? "" :fn:length(principal.messages)}</span>
                    </a>

                    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="icon-envelope-alt"></i>
                            ${fn:length(principal.messages)}条消息
                        </li>
                        <c:forEach items="${principal.messages}" var="cur">
                            <li>
                                <a href="${empty cur.url?'':ctx}${cur.url}">
                                    <img data-src="${cur.avatar}" class="msg-photo" alt="Avatar" />
                                    <span class="msg-body">
                                        <span class="msg-title">
                                            <span class="blue">${cur.name}：</span>
                                            ${fn:substring(cur.message, 0, 15)}${fn:length(cur.message) gt 15 ? '...':''}
                                        </span>

                                        <span class="msg-time">
                                            <i class="icon-time"></i>
                                            <span>${cur.timeMsg}1分钟以前</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </c:forEach>
                    </ul>
                </li>

                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="${ctx}/img/user.jpg" alt="${principal.realName}'s Photo" />
                        <span class="user-info">
                            <small>欢迎光临,</small>
                            ${principal.realName}
                        </span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="${ctx}/system/configuration/">
                                <i class="icon-cog"></i>
                                设置
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-user"></i>
                                个人资料
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a class="action-post" data-post="${ctx}/logout">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div>
</div>