.row-nocol{margin-left:0px;margin-right:0px;}
.btn-group{width:100%;}
.wysiwyg-toolbar > .btn-group{width:auto;}
.width4em{width:4em;}
/*查询表单按钮*/
form.lookup{margin-bottom:0.5em;}
form.lookup .form-btn-bar{display:inline-block;}
.ace-switch + .lbl{font-size:12px;}
/*页面动作按钮栏*/
.action-bar{text-align:right;padding-right:4em;margin-bottom:0.4em;}
td > img[data-src]{height:1.7em;}
td > img[data-attachment]{height:1.7em;}
/*分页栏*/
.pager-form{margin-top:0.5em;}
.pager-form .pagination{margin:0em;}
.pager-form .pager-list li{cursor:pointer;}
.input-xs{padding-top:2px !important;padding-bottom:2px !important;height:2em !important;}
/*模态对话框*/
.modal .modal-loading{display:none;width:64px;height:64px;margin:0em auto;background-image:url(../img/loading.gif);background-size:100% 100%;}
.modal.loading .modal-loading{display:block;}
.modal.loading .modal-body{display:none;}
/*多文件上传预览*/
.preview > .preview-item{
    width:10em;
    float:left;
    margin:0px 0.5em 0.5em;
}
.preview > .preview-item > .close{
    color:red;
}

/*ace fixed*/
.breadcrumbs-fixed + .page-content{
    margin-top:45px;
}

.alert{
    width:98%;
    margin-left:auto;
    margin-right:auto;
}
.action-param{display:none;}